

.b-progress {
  display: flex;
  padding: 24px;
}


.b-progress .progress-entry:first-child {
  width: 32px;
  flex: 0;
}

.b-progress .progress-entry:first-child .progress-connector{
  display: none;
}



.progress-entry {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.progress-connector {
  content: '';
  position: absolute;
  height: 10px;
  width: 100%;
  top: 11px;
  left: -16px;
  z-index: -1;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, #DBDBDB 50%, #5131D7 50%);
  transition: background-position 0.8s 0.5s;
}

.progress-el {
  position: relative;

}

.progress-text {
  position: absolute;
  top: -10px;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.progress-circle {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: white;
  border: 8px solid #DBDBDB;
  /*transition: border 0.5s 0.7s;*/
  transition: border 0.5s;
}


.progress-entry.__active .progress-circle {
  border-color: #5131D7;
  transition: border 0.4s 0.7s;
}

.progress-entry.__active .progress-connector{
  /*background-color: #5131D7;*/
  background-position: -100% 0;
  transition: background-position 0.8s;
}
